# STM32CubeIDE/HAL/Target Specific Folders
/Debug/
/Release/
/Middlewares/
/Drivers/STM32*
/Drivers/CMSIS/Device
 
# Binary and Build Artifacts
*.elf
*.hex
*.bin
*.map
*.o
*.a
*.lib
 
# IDE Configuration Files
.metadata
.lock
.settings
